<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VehicleSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>first_page.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.catp.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.catp.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CusUpdateController</display-name>
    <servlet-name>CusUpdateController</servlet-name>
    <servlet-class>com.catp.controller.CusUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CusUpdateController</servlet-name>
    <url-pattern>/CusUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BAdminContoller</display-name>
    <servlet-name>BAdminContoller</servlet-name>
    <servlet-class>com.catp.controller.BAdminContoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BAdminContoller</servlet-name>
    <url-pattern>/BAdminContoller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.catp.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountApprovalController</display-name>
    <servlet-name>AccountApprovalController</servlet-name>
    <servlet-class>com.catp.controller.AccountApprovalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountApprovalController</servlet-name>
    <url-pattern>/AccountApprovalController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusChangeController</display-name>
    <servlet-name>StatusChangeController</servlet-name>
    <servlet-class>com.catp.controller.StatusChangeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusChangeController</servlet-name>
    <url-pattern>/StatusChangeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetBookingController</display-name>
    <servlet-name>RetBookingController</servlet-name>
    <servlet-class>com.catp.controller.RetBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetBookingController</servlet-name>
    <url-pattern>/RetBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetVehicleController</display-name>
    <servlet-name>RetVehicleController</servlet-name>
    <servlet-class>com.catp.controller.RetVehicleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetVehicleController</servlet-name>
    <url-pattern>/RetVehicleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestVehicleController</display-name>
    <servlet-name>RequestVehicleController</servlet-name>
    <servlet-class>com.catp.controller.RequestVehicleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestVehicleController</servlet-name>
    <url-pattern>/RequestVehicleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetVehicleReqController</display-name>
    <servlet-name>RetVehicleReqController</servlet-name>
    <servlet-class>com.catp.controller.RetVehicleReqController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetVehicleReqController</servlet-name>
    <url-pattern>/RetVehicleReqController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalReqController</display-name>
    <servlet-name>FinalReqController</servlet-name>
    <servlet-class>com.catp.controller.FinalReqController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalReqController</servlet-name>
    <url-pattern>/FinalReqController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVehicleController</display-name>
    <servlet-name>UpdateVehicleController</servlet-name>
    <servlet-class>com.catp.controller.UpdateVehicleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVehicleController</servlet-name>
    <url-pattern>/UpdateVehicleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveController</display-name>
    <servlet-name>ApproveController</servlet-name>
    <servlet-class>com.catp.controller.ApproveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveController</servlet-name>
    <url-pattern>/ApproveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateApproval</display-name>
    <servlet-name>UpdateApproval</servlet-name>
    <servlet-class>com.catp.controller.UpdateApproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateApproval</servlet-name>
    <url-pattern>/UpdateApproval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleController</display-name>
    <servlet-name>RoleController</servlet-name>
    <servlet-class>com.catp.controller.RoleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleController</servlet-name>
    <url-pattern>/RoleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusController</display-name>
    <servlet-name>StatusController</servlet-name>
    <servlet-class>com.catp.controller.StatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusController</servlet-name>
    <url-pattern>/StatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewVehicle</display-name>
    <servlet-name>AddNewVehicle</servlet-name>
    <servlet-class>com.catp.controller.AddNewVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewVehicle</servlet-name>
    <url-pattern>/AddNewVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveRequestController</display-name>
    <servlet-name>ApproveRequestController</servlet-name>
    <servlet-class>com.catp.controller.ApproveRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveRequestController</servlet-name>
    <url-pattern>/ApproveRequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRequestController</display-name>
    <servlet-name>ShowRequestController</servlet-name>
    <servlet-class>com.catp.controller.ShowRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRequestController</servlet-name>
    <url-pattern>/ShowRequestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page</display-name>
    <servlet-name>Page</servlet-name>
    <servlet-class>com.catp.controller.Page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page</servlet-name>
    <url-pattern>/Page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page1</display-name>
    <servlet-name>Page1</servlet-name>
    <servlet-class>com.catp.controller.Page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page1</servlet-name>
    <url-pattern>/Page1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.catp.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingController</display-name>
    <servlet-name>BookingController</servlet-name>
    <servlet-class>com.catp.controller.BookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingController</servlet-name>
    <url-pattern>/BookingController</url-pattern>
  </servlet-mapping>
  
  
    
</web-app>